.mainTitre {
  font-family: roboto;
  font-weight: bold;
  background-color: lightgrey;
  background-image: url("https://randomstuffformeonly.w3spaces.com/flag-of-niger.jpg?bypass-cache=18198125");
  background-size: cover;
}
.Titre {
  text-align: center;
  font-size: 70px;
}
body { 
   background-color: lightgrey;
}
header {
}
